{
    "env": {
        "node": true
    },
    "rules": {
        "semi": [2, "always"],
        "indent": [2, 4],
        "curly": [2, "multi-line"],
        "max-len": [1, 80],
        "max-statements": [1, 25],
        "max-depth": [1, 4],
        "new-cap": [1, {"capIsNewExceptions": ["F"]}],

        "camelcase": 0,

        "comma-dangle": [1, "always-multiline"],
        "no-cond-assign": [1, "except-parens"],
        "no-constant-condition": 0,
        "default-case": 1,
        "dot-location": [1, "property"],
        "guard-for-in": 1,
        "no-proto": 0,
        "no-shadow": 0,
        "no-self-compare": 1,
        "no-throw-literal": 2,
        "yoda": [1, "never", { "exceptRange": true }],
        "wrap-iife": [2, "inside"],
        "no-catch-shadow": 0,
        "no-undef": 2,
        "no-use-before-define": [2, "nofunc"],

        "brace-style": [2, "1tbs", {"allowSingleLine": true}],
        "linebreak-style": 2,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [1, {"max": 2}],
        "no-nested-ternary": 2,
        "no-new-object": 1,
        "no-unneeded-ternary": 2,
        "one-var": [1, {
            "uninitialized": "always",
            "initialized": "never"
        }],
        "operator-assignment": [1, "always"],
        "operator-linebreak": 1,
        "quote-props": [1, "as-needed"],
        "semi-spacing": 0,
        "quotes": [1, "double"],
        "space-before-function-paren": [1, {
            "anonymous": "always",
            "named": "never"
        }],
        "no-underscore-dangle": 0
    }
}
